#hero-img{
    height: 90vh;
    width: 100%;
}
#hero-section{
    position: relative;
}
.hero-title{
    position: absolute;
    top: 20%;
    left: 45%;
    text-align: center;
    color: blueviolet;
}
#project{
    position: absolute;
}
/* .col{
position: relative;
top: 60%;
left: 35%;
text-align: right;
color: blueviolet;
} */